<footer>
    <div class="container-fluid top-foot">
        <div class="row">
            <div class="col-8 ">
                <h2 class="text-center">Metodo de Uso</h2>
                <p>
                    <b style="font-size: 23px;">Area</b><br />
                    Donde dice el area deberás poner el código de tu país. Si el teléfono es de Argentina tendrías que poner 54, para ver el código de tu país visita <a href="https://es.wikipedia.org/wiki/Anexo:Prefijos_telef%C3%B3nicos_mundiales" target="_blank">esta página</a>.
                </p>
                <br />
                <p>
                    <b style="font-size: 23px;">Teléfono</b><br />
                    Donde dice el teléfono deberás poner el número de teléfono por ejemplo 1123882753
                </p>
                <br />
                <p>
                    <b style="font-size: 23px;">Mensaje</b><br />
                    Escribe el texto que aparecerá en el mensaje una vez que el usuario haga click en el enlace
                </p>
            </div>
            <div class="col-4"></div>
        </div>
    </div>

    <div class="bot-foot text-center">
        <p>Creado por <b>Lynx Software Design</b></p>
    </div>

</footer>