p {
    margin: 0;
}

.footer-top {
    background: #283443 !important;
    color: #FFF !important;
}

h2,
p {
    color: #FFF !important;
}

footer,
#footer {
    margin-top: 20px;
    box-shadow: -5px -5px 5px 1px #0003;
    background: #1C1E21;
    color: #FFF;
}