<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-12 text-center">
                    <h2 style="padding-bottom: 30px;">Metodo de Uso</h2>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <p>
                                    <strong style="font-size: 23px;">Area</strong><br />
                                    Donde dice el area deberás poner el código de tu país. Si el teléfono es de
                                    Argentina
                                    tendrías que poner 54, para ver el código de tu país visita <a
                                        href="https://es.wikipedia.org/wiki/Anexo:Prefijos_telef%C3%B3nicos_mundiales"
                                        target="_blank">esta página</a>.
                                </p>
                            </div>
                            <div class="col-4">
                                <img src="../../../assets/img/word.svg" class="img-fluid" alt="Texto" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <p>
                                    <strong style="font-size: 23px;">Teléfono</strong><br />
                                    Donde dice el teléfono deberás poner el número de teléfono al cual quieres que se le
                                    envie el mensaje cuando hagan click en el enlace, por ejemplo 1123882753.
                                </p>
                            </div>
                            <div class="col-4">
                                <img src="../../../assets/img/number.svg" class="img-fluid" alt="Texto" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <p>
                                    <strong style="font-size: 23px;">Mensaje</strong><br />
                                    Escribe el texto que aparecerá en el mensaje para enviar, una vez que el usuario
                                    haga
                                    click en el enlace. No se recomiendan mensajes largos pero si identificativos.
                                </p>
                            </div>
                            <div class="col-4">
                                <img src="../../../assets/img/area.svg" class="img-fluid" alt="Texto" />
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="copyright">
            &copy; <span class="v-font">WhatsApp Link Generator</span>. Todos los dertechos reservados.
        </div>
        <div class="credits">
            <a target="_blank" href="https://vasak.net.ar"><span class="v-font">Vasak</span></a>
        </div>
    </div>
</footer>