/* You can add global styles to this file, and also import other style files */
:root{
    --phone-color: #eaeaea;
    --site-color: #138c7e;
}

.form-control{
    border-color: var(--site-color);
}

h1, h2, h3, h4{
    color: var(--site-color);
}

.btn{
    background: var(--site-color);
    color: #fff;
    padding: 15px;
}